{% extends "layouts/base.html" %}

{% block title %} Bed Requests {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Bed Requests</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">COVID19</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Request Beds</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                
                <div class="col-md-12">
					<div class="card">
					
						<div class="card-body">
							{% include "covid-19/partials/recentBedRequest.html" %}

                            {% include "covid-19/partials/_newRequestBed.html" %}
						</div>
					</div>
				</div>

            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="/static/assets/js/setting-demo2.js"></script>
    <script >
        $(document).ready(function() {
            $('.basic-datatables').DataTable({
            });


            $('#addRowButton').click(function() {
                $('#add-row').dataTable().fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action
                    ]);
                $('#addRowModal').modal('hide');

            });
        });
    </script>

{% endblock javascripts %}
