<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Notification Email</title>
  </head>
  <body>
	Dear {{name}},
	<p>You request for <b>{{requestType}}</b> has been received. We will contact you asap.</p>

    <p>Please #StayHome #StaySafe during COVID19 Pandemic. Your small contribution can make a big difference.</p>

    <p>Thanks for cooperating.</p>
	
	<p>This is a an automated Email send from <a href="https://covidrapidresponse.azurewebsites.net/"><b>COVID19 Responses</b></a></p>


</body>
</html>

