{% extends "layouts/base.html" %}

{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">            
            <div class="row">
                <div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Coronavirus (COVID-19) Vaccinations</div>								
							</div>
						</div>
						<div class="card-body">
							<iframe src="https://ourworldindata.org/grapher/covid-vaccination-doses-per-capita" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
						</div>
						<div class="card-footer">
						<p> This dataset is part of <a href="/event/covid-19">COVID-19 Pandemic</a> </p>
						</div>
					</div>
				</div>

            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
