		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="/static/frontend/js/jquery.min.js"></script>
		<script src="/static/frontend/js/popper.min.js"></script>
		<script src="/static/frontend/js/bootstrap.min.js"></script>
		<script src="/static/frontend/js/rangeslider.js"></script>
		<script src="/static/frontend/js/select2.min.js"></script>
		<script src="/static/frontend/js/owl.carousel.min.js"></script>
		<script src="/static/frontend/js/jquery.magnific-popup.min.js"></script>
		<script src="/static/frontend/js/slick.js"></script>
		<script src="/static/frontend/js/slider-bg.js"></script>
		<script src="/static/frontend/js/lightbox.js"></script> 
		<script src="/static/frontend/js/imagesloaded.js"></script>
		<script src="/static/frontend/js/jquery.counterup.min.js"></script>
		<script src="/static/frontend/js/counterup.min.js"></script>
		<script src="/static/frontend/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->