<div class="modal fade" id="requestBedModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header no-bd">
            <h5 class="modal-title">
               <span class="fw-mediumbold">
               Request Bed</span>                                                
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p class="small">Please provide us the real information. Upon request, We will contact you back soon. </p>
            {{message}}
            <form action="/covid19/bedrequest" method="post">
               {% csrf_token %}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group form-group-default">
                        <label>Name</label>
                        <input id="full_name" required name="full_name" type="text" class="form-control" placeholder="Full Name">
                     </div>
                  </div>
                  <div class="col-md-6 pr-0">
                     <div class="form-group form-group-default">
                        <label>Age</label>
                        <input id="age" required name="age" type="number" min="1" max="120" class="form-control" placeholder="Eg. 25">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group form-group-default">
                        <label>Gender</label>
                        <select name="gender" id="gender" class="form-control">
                           <option value="Male">Male</option>
                           <option value="Female">Female</option>
                           <option value="Other">Other</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-6 pr-0">
                     <div class="form-group form-group-default">
                        <label>Contact No</label>
                        <input id="contactNo" required name="contactNo" type="text" class="form-control" placeholder="Eg. 061-098-765434">
                     </div>
                  </div>
                  <div class="col-md-6 pr-0">
                     <div class="form-group form-group-default">
                        <label>Email Address</label>
                        <input id="email" required name="email" type="email" class="form-control" placeholder="Your Email. Eg. test@test.com ">
                     </div>
                  </div>
                  <div class="col-md-6 pr-0">
                     <div class="form-group form-group-default">
                        <label>Street Address</label>
                        <input id="streetAddress" required name="streetAddress" type="text" class="form-control" placeholder="Eg. 161 Sussex St">
                     </div>
                  </div>
                  <div class="col-md-6 pr-0">
                     <div class="form-group form-group-default">
                        <label>City</label>
                        <input id="city" required name="city" type="text" class="form-control" placeholder="Eg. Sydney">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group form-group-default">
                        <label>State</label>
                        <select name="state" id="state" class="form-control">
                           <option value="AU-NSW">New South Wales</option>
                           <option value="AU-QLD">Queensland</option>
                           <option value="AU-SA">South Australia</option>
                           <option value="AU-TAS">Tasmania</option>
                           <option value="AU-VIC">Victoria</option>
                           <option value="AU-WA">Western Australia</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3 pr-0">
                     <div class="form-group form-group-default">
                        <label>No of Beds</label>
                        <select name="bedsQty" id="bedsQty" class="form-control">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4 pr-0">
                     <div class="form-group form-group-default">
                        <label>Urgency</label>
                        <select name="urgency" id="urgency" class="form-control">
                           <option value="Moderate">Moderate</option>
                           <option value="Not Urgent">Not Urgent</option>
                           <option value="Urgent">Urgent</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-4 pr-0">
                     <div class="form-group form-group-default">
                        <label>Bed Type</label>
                        <select name="bedType" id="bedType" class="form-control">
                           <option value="ICU">ICU</option>
                           <option value="Normal">Normal</option>
                           <option value="Isolation">Isolation</option>
                           <option value="Ventilator">Ventilator</option>
                           <option value="Unspecified">Unspecified</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-12 pr-0">
                     <div class="form-group form-group-default">
                        <label>Additional Info</label>
                        <textarea id="additionalInfo" name="additionalInfo" rows="4" cols="50" class="form-control"></textarea>
                     </div>
                  </div>
               </div>
               <div class="no-bd">
                  <button type="submit" id="addRowButton"  class="btn btn-primary">Request</button>
                  <button type="cancel" class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>